/* Solution-1 */


/* .container{
  box-shadow: 4px 0px black;
  background-color: #FCFFE7;
  width: 750px;
  height: 500px;
}

h2 {
  padding: 10px 0 0 10px;
}

.Child-1 {
  width: 700px;
}

.Child-1 div{
  display: inline-grid;
  width: 216px;
  height: 120px;
  overflow: hidden;
  background-color: #eeeeee;
}

.Child-1 .Text{
  margin-left: 5px;
  margin-bottom: 10px;
}

.Child-2{
  border-bottom: 2px solid;
  border-top: 2px solid;
  line-height: 1.3;
  height: 60px;
  font-weight: bold;
  overflow: auto;
  margin-left: 5px;
  margin-right: 2px;
}

.Child-3 div{
  display: inline-grid;
  width: 216px;
  height: 120px;
  overflow: hidden;
  background-color: #eeeeee;
}

.Text{
  margin-left: 5px;
  margin-top: 10px;
} */

/********************************************/

/* Solution-2 */

.Parent {
  background-color: #FCFFE7;
  width: 700px;
  box-shadow: 2px 0px black;
  height: 450px;
  padding: 10px ;
}

.Parent .First-Ch .Text1{
  width: 200px;
  height: 105px;
  background-color: #eeeeee;
  display: inline-block;
  overflow: hidden;
  /* margin-left: 5px;  */
}

.Parent .Text2{
  width: 694px;
  height: 70px;
  font-weight: bold;
  line-height: 1.3;
  overflow: auto;
  margin: 10px 0px 10px 0px;
  border-bottom: 2px black solid;
  border-top: 2px black solid;
}